<div class="row gx-0 justify-content-center">
    <div class="w-75 bg-light rounded rounded-4 box-shadow py-2">
        <h3 class="px-3">Posts</h3>
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-lg-6 justify-content-center mt-5" style="background-color: #F3F4F5;">
        <div class="w-75 bg-light rounded rounded-4 box-shadow">
            <h3 class="px-2">Courses</h3>
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <div class="col-lg-6 justify-content-center mt-5">
        <div class="w-75 bg-light rounded rounded-4 box-shadow">
            <h3>Statistics</h3>
            <canvas id="myChart2"></canvas>
        </div>
    </div>