*{
    font-family: "inter";
  }
   
  .cstm{
    background: none;
    border: none;
    padding: 0;
  }

   .calendar {
    width: 80%;
    /* border: 1px solid #ddd; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFF;
    border-bottom: 1px solid #e7e5e5;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .days-of-week {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .days-of-week .day {
    flex-basis: calc(100% / 7);
    gap: 1px;
    text-align: center;
    font-weight: bold;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #fff;
  }
  
  .days .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 14px;
  }

  .day:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
  