#nav {
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(77,139,204);
    background: linear-gradient(0deg, rgba(77,139,204,1) 0%, rgba(159,105,184,1) 100%); 
  }

.icon-light{
    -webkit-text-stroke: 2px white;
}

*{
  font-family: "inter";
}

.nav-link{
  color: white;
}

 a:hover{
  color: rgb(240, 240, 240);
}

a.align-items-center:hover{
  color: rgb(240, 240, 240)!important;
}

.current-date {
  background-color: blue;
  font-weight: bold;
}
