<div class="row gx-0">
    <div class="col-lg-8 cstm">
     <div class="row gx-0 justify-content-center">
        <div>
            <h3 class="px-3">Posts</h3>
            <app-post-widget></app-post-widget>
          </div>
            <div class="col-lg-6 px-2" style="background-color: #F3F4F5;">
                <h3 class="px-2">Courses</h3>
                <app-course-widget></app-course-widget>
            </div>
            <div class="col-lg-6 px-2">
                <h3>Statistics</h3>
                <app-statistics-widget></app-statistics-widget></div>    
        </div>
        <div>
            <h3 class="px-3">Homework</h3>
            <app-homework-widget></app-homework-widget></div>
    </div>

    <div class="col-lg-4 h-100 justify-content-center" >
        <div>
            <h3 class="px-4">Calendar</h3>
            <app-calendar class="d-flex justify-content-center"></app-calendar> 
        </div>
        <div>
            <h3 class="px-4">All tasks</h3>
                <app-course-widget style="width: 317px!important;"></app-course-widget>
        </div> 
    </div>
</div>