<div class="row gx-0">
    <div class="col-lg-12 cstm">
        <div class="row gx-0 justify-content-center">
            <div class="pb-3">
                <h3 class="px-2">Posts</h3>
                <app-post-widget></app-post-widget>
            </div>
            <div class="col-lg-6" style="background-color: #F3F4F5; padding-right: 1%;">
                <h3 class="px-2">Courses</h3>
                <app-course-widget></app-course-widget>
            </div>
            <div class="col-lg-6 px-2">
                <h3>Statistics</h3>
                <app-statistics-widget></app-statistics-widget>
            </div>
        </div>
        <div *ngIf="role === 'STUDENT'">
            <h3 class="px-2">Homework</h3>
            <app-homework-widget></app-homework-widget>
        </div>
        <div *ngIf="role === 'ASSISTANT' || role === 'PROFESSOR'">
            <h3 class="px-2">Reports</h3>
            <app-report-widget></app-report-widget>
        </div>
    </div>

    <div class="col-lg-4 px-4 h-100 justify-content-center">
    
            <h3 class="pt-2">Calendar</h3>
            <app-calendar class="d-flex justify-content-center pb-4 "></app-calendar>

            <h3>Exams</h3>
            <app-exams-widget></app-exams-widget>
      
    </div>
    
</div>